**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
.git/
.gitignore
.gitattributes
*.md
!README.md
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
**/*.user
**/*.suo
**/appsettings.Development.json
Dockerfile
.dockerignore
